*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

E:\work_space\HiRxJava\countdowntimer

gradlew -p countdowntimer clean build uploadArchives

